[submodule "logger"]
	path = logger
	url = ../logger.git
[submodule "minecraft-symbols"]
	path = minecraft-symbols
	url = ../minecraft-symbols.git
[submodule "mcpelauncher-core"]
	path = mcpelauncher-core
	url = ../mcpelauncher-core.git
[submodule "mod-ndk-gnustl"]
	path = mod-ndk-gnustl
	url = ../../MCMrARM/mod-ndk-gnustl.git
